extends layout

block content

  h1= title
  p Welcome to #{title}

  ul
    li My Text
    li Next line

  span#draggable Drag Me

  br

  - var test= 1
  input(type='text').class-name#anyid

  p#ausgabe #{test}


  // Picture View
  div
    table
      tbody
        tr
          td
            each picture in pictures
              -var pfad = '../routes/verzeichnis/'+path+'/samples/'+picture
              td
                div
                  p(align= 'center') #{picture}
        tr
          td
            each picture in pictures
              -var pfad = '../routes/verzeichnis/'+path+'/samples/'+picture
              td
                div.picture
                  img.thumb(class="#{picture.substring(0, picture.length-4)}",src='' + pfad, width= 100, alt= picture)


  //Compare View
  style.
    .crosshair{
      height: 400px;
      width: 700px;
      clear: both;
      cursor: crosshair;
      background: #ff00ab;
      z-index: 11;
    }

  - var boxes=0
  - var laeufer=0
  if pictures.length >= 4
    - var boxes= 4
  else
    - var boxes=pictures.length

  p#boxes(style='visibility: hidden') #{boxes}

  //div#container
  div.crosshair#crosshair(style='border: 1px solid white')
    - for(var i=boxes;0<i;i--)
      div(id=compareBoxes[i-1], style='z-index:' +(10-i-1).toString()+'; position: absolute;overflow: hidden;border: 1px solid white;width: 700px;height: 400px;background-image: url("/routes/verzeichnis/'+path+'/samples/'+pictures[i-1]+'");')


  <!--/ The Context Menu -->
  nav.context-menu#context-menu
    ul.context-menu__items
        li.context-menu__item
            a.context-menu__link#clickTopLeft(data-action= "TopLeft") TopLeft
        li.context-menu__item
            a.context-menu__link#clickTopRight(data-action= "TopRight") TopRight
      if (boxes > 2)
          li.context-menu__item
              a.context-menu__link#clickBottomLeft(data-action= "BottomLeft") BottomLeft
      if(boxes > 3)
          li.context-menu__item
              a.context-menu__link#clickBottomRight(data-action= "BottomRight") BottomRight


  button(onclick='createBox()') CreateBox
  p() #{boxes}
  div(style='width:700px;height:700px;color:green')#testBox